<h1 class="text-center mt-4">Listing all articles</h1>

<%= render 'article' %>

<div class="mb-3 text-center">
  <p><%= link_to '[Create new article]', new_article_path, class: "text-info" %></p>
</div>